@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@600&display=swap");

/****************************************************** SELECTORES GENERALES ***********************************************************************/

*,
*::before,
*::after {
  color: #ffffff;
  box-sizing: border-box;
  font-family: "Encode Sans Expanded", sans-serif;
}

/****************************************************** SELECTORES DE ETIQUETA ***********************************************************************/

body {
  background: url("../img/fondo.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0;
}

ol {
  display: inline-flex;
  list-style: none;
}

input[type = "text"], input[type = "email"], input[type = "password"], input[type = "date"], input[type = "time"] {
  outline: none;
  color: #ffffff;
  padding: 10px;
  margin: 10px 1px 20px;
  border: 2px solid #b10000;
  border-radius: 5px;
  transition: all .5s;
  background-color: #212121;
  width: 60%;
}


/****************************************************** SELECTORES CLASES ***********************************************************************/

.navbar-main {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 50px;
  padding: 15px 30px;
}

.navbar-main .logo {
  display: inline-block;
}

.navbar-main_logo-page {
  height: 60px;
}

.navbar-main_ol li a {
  background-color: #b10000;
  text-decoration: none;
  border-radius: 5px;
  padding: 20px;
}

.div-bar {
  margin: 0 auto;
  background: #212121;
  border-radius: 20px;
  width: 1000px;
  min-height: 300px;
}

.div-bar a{
  background-color: #b10000;
  font-weight: bold;
  text-decoration: none;
  margin-left: 15px;
  padding: 30px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.container-form {
  position: relative;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.container-form h1 {
  background: #212121;
  margin: 30px;
  padding: 10px;
  font-size: 4em;
}

.container-form form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #212121;
  border-radius: 20px;
  border-color: solid 5px #b10000;
}

.container-form button {
  padding: 20px;
  margin: 20px;
  width: 65%;
  background-color: #b10000;
  border: none;
  border-radius: 2px;
}

.container-form a {
  display: block;
  font-size: 10px;
}

.form-register {
  width: 600px;
  height: 650px;
}

.form-register label {
  margin-left: 3px;
  font-size: 15px;
  display: inline;
  color: #ffffff;
}

.form-register_input-checkbox {
  display: inline;
}

.form-login {
  width: 500px;
  height: 420px;
}

.form-show {
  width: 600px;
  height: 630px;
}

.div-list {
  text-align: center;
}

.div-list h1{
  font-size: 3em;
  color: #212121;
  width: 100%;
}

.container-table {
  overflow: hidden;
  width: 80%;
  margin: auto;
  display: table;
  padding: 0 0 0 0;
  text-align: center;
}

.container-table a {
  background-color: #b10000;
  text-decoration: none;
  padding: 20px;
  border-radius: 8px;
  margin: 0;
}

.container-table th {
  padding: 2%;
}

.container-table td{
  padding: 2%;
}

.container-table tr:nth-child(odd) {
  background-color: #141414;
}

.container-table tr:nth-child(even) {
  background-color: #212121;
}

.container-table tr:hover {
  background-color: #b10000;
  color: #141414;
}

/****************************************************** PSEUDO CLASES ***********************************************************************/

.navbar-main_ol li > a:hover {
  background-color: #830101;
}

.navbar-main_ol li:nth-child(n + 2) {
  margin-left: 10px;
}

.div-bar a:hover {
  background-color: #830101;
  font-size: 20px;
}

.div-bar a:focus {
  background-color:#6e0000;
  font-size: 20px;
}

.container-form a:hover {
  color: #b10000;
}

.container-form a:focus {
  color: #830101;
}

input:focus {
  background-color: #141414;
  border: solid #b10000;
}

input:hover {
  background-color: #191919;
  border: solid #ff3b3b;
}

button:hover {
  background-color: #830101;
}

button:focus {
  background-color: #6e0000;
  border: none;
  outline: none;
}



/**********************************************************************************************************************************/







/**********************************************************************************************************************************/












/**********************************************************************************************************************************/
